#miReproductor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 640px;
    margin: auto;
    background-color: #333;
}

video {
    width: 100%;
    max-width: 640px;
    height: auto;
    background-color: black;
}

#controles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

input[type="range"] {
    width: 100px;
}
